version: '3.7'

services:
  {{ squid.app_name }}:
   image: gdrg/squid:1.0.0
    network_mode: host

  {{ dnsmasq.app_name }}:
    image: {{ dnsmasq.image }}
    network_mode: host
    cap_add:
      - NET_ADMIN

  {{ ipsec.app_name }}:
    image: {{ ipsec.image }}
    # network_mode: host
    environment:
      VPN_IPSEC_PSK: "{{ ipsec.psk }}"
      VPN_USER_CREDENTIAL_LIST: "{{ ipsec.userlist }}"
      VPN_PUBLIC_IP: {{ ipsec.public_ip }}
    ports:
      - "500:500/udp"
      - "4500:4500/udp"
    privileged: true
    volumes:
      - /lib/modules:/lib/modules:ro
      - {{ certbot.cert_path }}/live/{{ domain_name }}/:/etc/ipsec.d/certs/:ro
    depends_on:
      - {{ certbot.app_name }}

  {{ certbot.app_name }}:
    image: {{ certbot.image }}
    entrypoint: "certbot certonly --standalone --preferred-challenges http -d {{ domain_name }} --register-unsafely-without-email --agree-tos"
    ports:
      - 80:80
      - 443:443
    volumes:
      - "{{ certbot.cert_path }}:/etc/letsencrypt/:rw"

  {{ dante.app_name }}:
    image: {{ dante.image }}
    network_mode: host

  {{ pptpd.app_name }}:
    image: {{ pptpd.image }}
    network_mode: host
    privileged: true

  {{ softethervpn.app_name }}:
    image: {{ softethervpn.image }}
    network_mode: host
    cap_add:
      - NET_ADMIN
    environment:
      L2TP_ENABLED:    "{{ softethervpn.l2tp_enabled    }}"
      OPENVPN_ENABLED: "{{ softethervpn.openvpn_enabled }}"
      SSTP_ENABLED:    "{{ softethervpn.sstp_enabled    }}"
      PSK:             "{{ softethervpn.psk             }}"
      USERNAME:        "{{ softethervpn.username        }}"
      PASSWORD:        "{{ softethervpn.password        }}"
      SERVER_PWD:      "{{ softethervpn.server_pwd      }}"
    depends_on:
      - {{ certbot.app_name }}

  #zabbix-agent:
  #  image: zabbix/zabbix-agent
  #  network_mode: host

  {{ shapeshifter.app_name }}:
    image: {{ shapeshifter.image }}
    privileged: true
    network_mode: host
